<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huiji.comic.bobcat.huijicomics">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ComicMenuActivity"
            android:label="@string/title_activity_comic_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ComicViewActivity"
            android:label="@string/title_activity_comic_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.X5WebViewActivity"
            android:label="@string/title_activity_x5_web_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ComicCollectionActivity"
            android:label="@string/title_activity_comic_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ComicHistoryActivity"
            android:label="@string/title_activity_comic_history"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>